.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 37.5px 30px;
  .chartDescription {
    position: absolute;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    top: -6px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
}
