@import "properties";

.menuOption {
  cursor: pointer;
  padding-left: 27px;
  display: flex;
  justify-content: left;
  // border: 1px solid white;
  align-items: center;
  &:not(.last) {
    margin-bottom: 33px;
  }
  &:last-child {
    color: #cd5656;
  }
  .optionText {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    line-height: 21px;
  }

  &.selected::before {
    position: absolute;
    width: 8px;
    height: 35px;
    left: 0px;
    background: linear-gradient(102.27deg, #5948b7 0%, #602da2 100%);
    border-radius: 0px 24px 24px 0px;
    content: "";
  }
}
