@import "./properties";

.tile {
  display: inline-block;
  background-color: $background-color-primary;
  // background-color: white;
  border-radius: 20px;
  margin: 12px;
  // padding: 40px 40px 40px 30px;
}
