@import "./properties";

.upgrade {
  //   display: flex;
  //   flex-direction: column;
  box-sizing: border-box;
  background-color: $background-color-primary;
  width: 210px;
  height: 210px;
  padding: 40px 35px 34px;
  .upgradeTitle {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
  }
  .upgradeDetails {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 10px;
  }
}
